<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js"></script>
    <script src="/js/fontawesome-all.min.js"></script>
</head>
<body>
    <div class='header-pc'>
            <div class="header-pc color-bg-b11">
                    <div class="header-pc__left">
                      <a href="#" class="header-pc__logo color-ct-white">
                        <i class="far fa-futbol"></i>
                        <span class="header-pc__logo__a">ForoDS1</span>
                      </a>
                       <div class="header-pc__search">
                        <i class="header-pc__search__icon fas fa-search "></i>
                        <input type="text" name="search" class="header-pc__search__input" placeholder="Buscar un Tema en el Foro">
                      </div> 
                    </div>
                    <div class="header-pc__right">
                      <a href="#" class="header-pc__link color-ct-white">
                        <i class="fas fa-futbol header-pc__link__i"></i>
                        <span>¿Qué es DS?</span>
                      </a>
                      <a href="#" class="header-pc__link1 color-bg-b18 color-ct-white">
                        <i class="fas fa-cart-plus header-pc__link1__i"></i>
                        <span>TIENDA</span>
                      </a>
                      <a href="#" class="header-pc__link1 color-bg-b17 color-ct-white">
                        <i class="fas fa-user header-pc__link1__i"></i>
                        <span>INGRESAR</span>
                      </a>
                    </div>            
    </div>
    <div class="grid-container full">
        <div class="grid-x">
            <div class="cell">
            </div>
        </div>
    </div>
</body>
</html>